.container{
display:flex;
margin-top: 30%;
margin-left:100%;
flex-direction: column;
width:100%;
}

.icon{
    color:white;
}

.icon:hover{
    cursor: pointer;
}

.favorite{
    display:flex;
    align-items:center;
}

.favorite p{
    color:white;
    padding-left:10px;
}

.favorite:hover{
   cursor: pointer;
}

.share__point p{
    color:white;

}
