.main_input{
    height: 60px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 5%;
    letter-spacing: 1px;
    position: relative;
    background-color: white;
    width:90%;
    line-height: normal;
}

.searchIcon{
    color:white;
    font-size: 40px;
}

.input__area{
    display:flex;
    align-items: center;
}